
body {
    font: 100% Lucida Sans, Verdana;
    margin: 20px;
    line-height: 26px;
}

.container {
    min-width: 900px;
}

#top, #side-bar, #bottom, .menu-item {
    border-radius: 4px;
    margin: 4px;
}

#top {
    background-color: #04AA6D;
    color: white;
    padding: 15px;
}

.wrapper {
    position: relative;
    overflow: auto;
}

#menu-bar {
    width: 200px;
    float: left
}

#main {
    padding: 10px;
    margin: 0 210px;
}

#side-bar {
    background-color: #32a4e7;
    color: white;
    padding: 10px;
    width: 180px;
    bottom: 0;
    top: 0;
    right: 0;
    position: absolute;
}

#bottom {
    border: 1px solid #d4d4d4;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    font-size: 70%;
    line-height: 14px;
}

#top h1, #top p, #menu-list {
    margin: 0;
    padding: 0;
}

.menu-item {
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    list-style-type: none;
    padding: 2px;
    cursor: pointer;
}

.menu-item:hover {
    background-color: white;
}

.menu-item:first-child {
   background-color:#04AA6D;
   color: white;
   font-weight:bold;
}

a {
    color: #000000;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

@media (max-width: 800px) {
    #side-bar {
        width: auto;
        position: relative;
    } 
    #main {
        margin-right: 0;
    }    
       
}

@media (max-width: 600px) {
    #menu-bar {
        width: auto;
        float: none;
    }
    #main {
        margin: 0;
    }    
}